@model IEnumerable<DataAccess.Models.Brand>

@{
    ViewData["Title"] = "Index";
}

<h1>لیست برند</h1>

<p>
    <a asp-area="Admin" asp-controller="Brands" asp-action="Create" class="btn btn-success"> درج برند جدید </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.BrandId" class="btn btn-warning">ویرایش</a> |
                    <a asp-action="Details" asp-route-id="@item.BrandId" class="btn btn-primary">جزیات</a> |
                    <a asp-action="Delete" asp-route-id="@item.BrandId" class="btn btn-danger">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
